.main-cont{
  display: flex;
  padding: 24PX 80px;
  
}
.flex{
   display: flex;
   justify-content: space-between;
   align-items: center;
   
  
   gap: 20px;

}

button{
    background-color: black;
    color: aliceblue;
    border-radius: 4PX;
    padding: 10px;
    align-items: center;
    display: flex;
    gap: 10px;

}


main{

    justify-content: space-between;
}
header{
    display: flex;
}
.image1{
    align-items: last baseline;
}
.fullscreen{
width: 100vw;
height: 100vh;
}
.font{
    color: black;
}